<header id="main_navigation" class="clearfix">

  <a href="#" class="name">Indian Podcasts</a>
    <nav>
      <a href="blog.html">Blog</a>
      <a href="#">Podcasts</a>
      <a href="#">Contact</a>
    </nav>
</header>

  

<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date">Friday April 10th</p>
    <h1><b>The DO list</b></h1>
    <hr>
  </header>

  <div id="content">
    <p>Pork chicken swine biltong fatback venison ham hamburger ribeye prosciutto. Salami bresaola ground round, spare ribs ham pastrami boudin pork belly. Leberkas shank meatball, landjaeger fatback beef chuck shankle meatloaf ball tip prosciutto alcatra brisket. Capicola beef tongue spare ribs cow, shankle</p> <p> short loin rump ball tip. Pastrami bacon short loin boudin jowl tail ground round chuck beef ribs andouille alcatra pancetta chicken turkey. Turducken sirloin salami t-bone frankfurter rump pork belly boudin andouille turkey shank corned beef prosciutto pastrami kielbasa.</p>
  </div>

  <hr>

  <div id="share_box">
    <p>Share the DO list</p>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
  </div>

  <hr>

</div>
