/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 $dark: #424652;
 $light: #9a9da4;
 $highlight: #8bc6db;
 $border: #E9E9E9;


 @import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
 @import "normalize";
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .clearfix:before
 .clearfix:after {
  content: " ";
  display: table;
 }

  .clearfix:after {
    clear: both;
  }

  body {
    font-family: 'Raleway', sans-serif;
  }

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 2em 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

 #main_navigation {
  padding: 2.5em 5%;
  .name {
    font-weight: 700;
    font-size: .8em;
    letter-spacing:  2px;
    text-transform: uppercase;
    border: 2px solid #E9E9E9;
    padding: 0.75em 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav {
    float: right;
    padding-top: .9rem;
    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1.2rem;
    }
   }
 }


h1 {
  color: $dark;
  font-size: 2.5rem;
}

p, li {
  font-size: 1.5rem;
  line-height: 1.75;
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}


#posts_wrapper {
  .post {
     text-align: center;
    .date { 
      font-size: .9em;
      margin: 0;
    }

    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
      }
    }
  }
  hr {
  margin: 3em auto;
 }
}
}


.starter-template {
  text-align: center;
  padding: 70px 15px;
}


#main_footer {
  padding: 10.5em 25%;
  
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
   }
   nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
   }
 }

 .pagination:before,
 .pagination:after {
  content: " ";
  display: table;
 }

 .pagination:after {
  clear:both;
 }

 .pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: white;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: white;
    }
  }
  .current {
    background: $highlight;
    color: white;
  }
  .disabled {
    color: #c0c0c0;
    &:hover {
      color: #c0c0c0;
      background: white;
    }
  }
 }


input[type="text"], input[type="email"],  input[type="password"],
textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }
  hr {
      margin: 3em auto;
    }
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
     color: $highlight;
     cursor: pointer;
    }
  }
}


